.todoContainer{
  margin-top: 10px;
  border-top-color: rgb(230,230,230);
  border-top-style: solid;
  border-top-width: 1px;
}

.footerButton, .buttonBorder {
  padding: .2em .5em;
}

.footerButton:hover {
  cursor: pointer;
}

.buttonBorder {
  border: 1px solid black;
}
